
/* Header */

.header-page{

}

.p-text{

}
.link-logo{
   font-family: "Raleway", sans-serif;
   font-weight: bold;
   color: #2E2F42;
   line-height: 1.17;
   letter-spacing: 0.03em;
   font-size: 18px;
   text-transform: uppercase;
   color: #4d5ae5;

}

.web-logo{
   line-height: 0.75;
   font-size: 18;
   color: #2e2f42;
   font-weight: bold;
   letter-spacing: 0.03em;
}

.link-logo:hover,
.link-logo:focus{
   color: #404bbf;
}

.web-logo:hover,
.web-logo:focus{
   color: #404BBF;
}

.menu-list{
   list-style-type: none;
}

.navigation{
   color: #2E2F42;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.02em;
   text-decoration: none;
   list-style-type: none;

}

.navigation:hover, 
.navigation:focus{
   color:  #404bbf;
}

.link-style:hover,
.link-style:focus{
   color:  #404bbf;
}

.address-block{
   list-style-type: none;
}

a{
   text-decoration: none;
   
}

.information{
   color: #434455;
   letter-spacing: 0.02em;
   font-style: normal;
   line-height: 1.5;
}

.contacts{
   letter-spacing: 0.02em;
   list-style: none;
   font-size: 16px;
   line-height: 1.5;
   color: #434455;
   list-style-type: none;
}

.contacts:hover, 
.contacts:focus{
   color: #404bbf;
}


.orders{
   background-color: #4D5AE5;
   font-family: Roboto;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.04;
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   letter-spacing: 0.04em;
   color: #FFFFFF;
}

.orders:hover, 
.orders:focus{
   background-color: #404BBF;
}

.hero-div{
   background-color: #2E2F42;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #FFFFFF;

}

/* Hero section */

.hero-title{
   font-family: Roboto;
   font-weight: bold;
   letter-spacing: 0.02em;
   text-align: center;
   font-size: 56px;
   line-height: 1.07;
}

/* Section 2 */
.second-section-title{
   font-family: Roboto;
   font-weight: 500;
   font-size: 36px;
   letter-spacing: 0.02em;
   line-height: 1.2;
   color: #2e2f42;
}

.third-section-title{
   font-family: Roboto;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color:#2E2F42;
   text-align: center;
}

.team{
   background-color: #FFFFFF;

}

.headtext{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
   list-style-type: none;
}



.team-block{
   background-color: #F4F4FD;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;

}

.our-team-block{
   list-style-type: none;
}

.our-plan-block{
   list-style-type: none;
}

.goals-block{
   list-style-type: none;
}

.fourth-section-title{
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2E2F42;
   text-align: center;
}
.p-text{
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.portfolio-block{
   
}
   

.basement{
   background-color: #2E2F42;
   text-transform: uppercase;
   color: #4d5ae5;
}

.basement-web{
   line-height: 21;
   font-size: 18;
   color: #4D5AE5;
   font-weight: bold;
   letter-spacing: 0.03em;
}

.basement-studio{
   font-weight: bold;
   line-height: 21;
   letter-spacing: 0.03em;
   font-size: 18;
   color: #F4F4FD;
}

.basement-text{
   color: #F4F4FD;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.main-block{
   font-family: 'Roboto', sans-serif;
   color: #434455;
   background-color: #FFFFFF;
}

.footer-logo{
   color: #4d5ae5;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
}